<!DOCTYPE html>
<html>

<head>
    <title>Canvas with Socket.IO</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js">
    </script>
</head>

<body style="overflow: hidden; margin: 0;"> <canvas id="canvas" width="" height=""></canvas>
    <script>
        // start scoket.io connection
        const socket = io();
        const jerm = new Image();
        jerm.src = 'jermaStare.png';

        const rat = new Image();
        rat.src = 'rat.png';

        const wood = new Image();
        wood.src = 'wood.png';

        const square = new Image();
        square.src = 'squareFade.png';


        var players = {};
        var longest;

        let img = "rat.png";

        // get canvas element
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');

        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;

        sc1 = window.innerWidth / 1920;
        sc2 = window.innerHeight / 1080;


        ctx.scale(sc1, sc2);
        // read wasd keys being pressed and released
        document.addEventListener('keydown', handleKeydown);
        document.addEventListener('keyup', handleKeyup);

        // handle key down events
        function handleKeydown(event) {
            const key = event.key;


            // emit the key event to teh server
            socket.emit('keydown', { key });
        }

        // handle key up events
        function handleKeyup(event) {
            const key = event.key;

            // emit the key event to teh server
            socket.emit('keyup', { key });
        }


        socket.on('playerDisconnected', (data) => {
            // Remove the disconnected player from the local player list
            delete players[data.playerId];
        });

        // get socket message for update
        socket.on('update', function (data) {

            ctx.clearRect(0, 0, 1920, 1080);

            for (var player in data.players) {
                players[player] = data.players[player];
            }


        });

        socket.on('longestConnectedPlayer', function (data) {
            longest = data.playerId;
        });



        let rats = false;

        // on reqestanimationfroame, erease canvs
        requestAnimationFrame(draw);
        
        function draw() {
            ctx.clearRect(0, 0, 1920, 1080);
            ctx.drawImage(wood, -50, window.innerHeight * 1.5, window.innerWidth * 2, window.innerHeight / 2)
            ctx.drawImage(square, 0, -200, window.innerWidth * 2, window.innerHeight)
            for (var player in players) {
                const { x, y } = players[player];

                // draw a circle at the recieved positon
                ctx.beginPath();
                if (players[player].playerId == longest) {
                    ctx.drawImage(jerm, x, y, jerm.width, jerm.height);
                } else {
                    ctx.drawImage(rat, x, y, rat.width/1.25, rat.height/1.25);
                }

            }
            requestAnimationFrame(draw);
        }


    </script>
</body>

</html>