<!DOCTYPE html>
<html>

<head>
    <title>Canvas with Socket.IO</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js">
    </script>
    <style>
        #points {
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            position: absolute;
            top: 25vh;
            right: 0;
            max-width: 30%;
            padding: 10px;
            background: #00eeff59;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            color: white;
            font-size: 2vi;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        audio {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 100%;
            height: 100px;
            background: #00eeff59;
            color: white;
            font-size: 2vi;
        }

        #pause {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 20;
            width: 10%;
            height: 100px;
            background: #00eeff59;
            color: white;
            font-size: 2vi;
        }

        #playRan {
            position: absolute;
            bottom: 0;
            right: 20;
            left: 0;
            width: 10%;
            height: 100px;
            background: #00eeff59;
            color: white;
            font-size: 2vi;
        }
    </style>
</head>

<body style="overflow: hidden; margin: 0;"> <canvas id="canvas" width="" height=""></canvas>
    <audio loop muted id="audio" src="nothing"></audio>
    <audio id="deadGod" src="jermaScream.mp3"></audio>
    <button id="playRan">Play Random</button>
    <button id="pause">Unmute</button>
    <div id="points">
    </div>
    <script type="text/javascript" src="client.js"></script>
</body>

</html>