body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    text-align: center;
}

#startMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00eeff59;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 2.5vi;
}

#pauseMenu {
    position: fixed;
    top: 47%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    background-color: #00eeff59;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 2.5vi;
}

@font-face {
    font-family: 'Genos';
    src: url('Genos-BoldItalic.ttf'),
    /* Add more font formats if needed */
}

p {
    font-family: Genos;
    background-color: #00000000;
}

#p {
    background-color: #00000000;
    box-shadow: none;
}
.start {
    background-color: #00eeff59;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    user-select: none;
}
#startButton:hover, #pauseButton:hover {
    background-color: #00eeff;
}
#startButton:active, #pauseButton:active {
    background-color: #00eeff59;
}

#pauseButton, #startButton {
    cursor: pointer;
}

#craftMenu {
    position: fixed;
    right: -25%;
    bottom: 0;
    background-color: #0c7ecafd;
    height: 100%;
    width: 25%;
    border-left: 5px solid #00eeff;
    font-size: 2vi;
    overflow-y: auto;
}

@keyframes slideOut {
    100% {
        right: 0;
    }

    0% {
        right: -25%;
    }
}

@keyframes slideIn {
    100% {
        right: -25%;
    }

    0% {
        right: 0;
    }
}

textarea {
    background-color: #0c7ecafd;
    border-color: black;
    border-radius: .5vi;
    resize: none;
    font-family: genos;
    font-size: 1.5vi;
    max-width: 92.5%;
}

#craft {
    font-size: 2vi;
}